pkgbase = wine-wayland
	pkgdesc = Wine wayland
	pkgver = 7.7
	pkgrel = 1
	arch = x86_64
	license = LGPL
	makedepends = autoconf
	makedepends = ncurses
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = gcc
	makedepends = vulkan-headers
	makedepends = gettext
	makedepends = zstd
	makedepends = lib32-alsa-lib
	makedepends = lib32-expat
	makedepends = lib32-gcc-libs
	makedepends = lib32-libdrm
	makedepends = lib32-vulkan-icd-loader
	makedepends = lib32-zlib
	makedepends = automake
	makedepends = unzip
	makedepends = cmake
	makedepends = meson
	makedepends = ninja
	makedepends = python-mako
	makedepends = glslang
	makedepends = dbus
	makedepends = gperf
	makedepends = adwaita-icon-theme
	makedepends = fontconfig
	makedepends = libxml2
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = desktop-file-utils
	makedepends = libpng
	makedepends = openal
	makedepends = alsa-lib
	makedepends = mesa
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = lib32-glibc
	depends = adwaita-icon-theme
	depends = fontconfig
	depends = libxml2
	depends = freetype2
	depends = gcc-libs
	depends = desktop-file-utils
	depends = libpng
	depends = openal
	depends = alsa-lib
	depends = mesa
	depends = vulkan-icd-loader
	depends = wayland
	depends = wayland-protocols
	depends = lib32-glibc
	options = !staticlibs
	options = !strip
	options = !docs
	source = https://github.com/wine-mirror/wine/archive/wine-7.7.zip
	source = https://github.com/civetweb/civetweb/archive/v1.12.zip
	source = https://github.com/libsdl-org/SDL/archive/refs/tags/release-2.0.16.zip
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = wine-wayland
	depends = adwaita-icon-theme
	depends = fontconfig
	depends = libxml2
	depends = freetype2
	depends = gcc-libs
	depends = desktop-file-utils
	depends = libpng
	depends = openal
	depends = alsa-lib
	depends = mesa
	depends = vulkan-icd-loader
	provides = wine
	conflicts = wine
	conflicts = wine-staging

pkgname = wineland
	depends = adwaita-icon-theme
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = desktop-file-utils
	depends = openal
	depends = alsa-lib
	depends = mesa
	depends = vulkan-icd-loader
	depends = libpng
	depends = libxml2
	depends = lib32-glibc

pkgname = lib32-wine-wayland
	provides = lib32-wine
